<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jacob Grosse">

    <title>{{webtitle}}</title>

    <!-- Boostrap 5 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Styles for this Site -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<!--Wrapper-->
<div class="wrapper col-12 center">