<!--Collapsable Sidebar-->
<nav id="sidebar">
    <div class="sidebar-head">
        <h3>Jake T. Gross&eacute;</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Resume</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/education">Education</a>
                </li>
                <li>
                    <a href="/accomplishments">Accomplishments</a>
                </li>
                <li>
                    <a href="/passions">Passions</a>
                </li>
                <li>
                    <a href="/strengths_and_weaknesses">Strengths and Weaknesses</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/contact">Contact Me</a>
        </li>
        <li>
            <a href="/disclaimer">Disclaimer</a>
        </li>
    </ul>
</nav>
<!--End Sidebar-->